#bigscreen {
  width: 100vw;
  height: 100vh;
  background-color: rgb(254, 229, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 500px) {
  #bigscreen {
    display: none;
  }
}
