.chats-chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.chat-column {
  display: flex;
  align-items: center;
}

.small__avatar {
  width: 55px;
  height: 55px;
}

.chat-username {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.chat-preview {
  color: #b2b2b2;
  font-size: 0.9rem;
}

.chat-column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat-time {
  color: #b2b2b2;
  font-size: 0.7rem;
}

.chat-counter {
  margin-top: 10px;
  color: white;
  font-size: 0.8rem;
  background-color: var(--main-dot-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-counter__anima {
  animation: clickhere 1s 1s ease-in-out infinite;
}

@keyframes clickhere {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}
