.more-header {
  display: flex;
}

.more-header-column {
  display: flex;
  align-items: center;
}

.more-header-cog {
  position: relative;
}
.cog-dot {
  top: -3px;
  right: -2px;
  position: absolute;
  background-color: #e06055;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.more-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more-column {
  display: flex;
  align-items: center;
}

.more-info-username {
  font-size: 1.1rem;
  font-weight: 700;
}

.more-info__more {
  margin-top: 13px;
  display: flex;
}

.more-info__number {
  color: #ababab;
  font-size: 0.8rem;
  margin-right: 5px;
}

.more-info__more i {
  font-size: 0.2rem;
  color: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-column:last-child i {
  font-size: 1.5rem;
}

.more-icons {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.more-icon {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.more-icon i {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.more-icon__title {
  color: #676767;
  font-size: 0.7rem;
}

.more-icon:nth-child(5),
.more-icon:nth-child(6) {
  margin-top: 40px;
}

.suggestions {
  margin-top: 35px;
  padding-top: 25px;
  border-top: 1px solid #f0f0f0;
}

.suggestions__title {
  font-size: 0.8rem;
}

.suggestions__icons {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.suggestions-icon {
  margin-right: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggestions-icon i {
  width: 45px;
  height: 45px;
  background-color: #fae100;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.4rem;
}

.suggestions-icon__title {
  margin-top: 10px;
  color: #7f7f7f;
  font-size: 0.7rem;
}
