.settings-titlebox {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
}

.settings-title {
  font-size: 1.4rem;
  font-weight: 600;
}

.settings-list {
  margin-top: 20px;
}

.settings__setting {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 0.5px solid rgba(198, 196, 196, 0.1);
}

.settings__setting:nth-child(3) {
  border-bottom: 0.5px solid rgba(198, 196, 196, 0.4);
  padding-bottom: 40px;
}

.settings__setting:nth-child(4) {
  padding-top: 40px;
}

.setting-column {
  display: flex;
  align-items: center;
}

.setting-column:last-child {
  color: #b8b8b8;
}
.setting-column i {
  margin-right: 20px;
}

.setting-title {
  font-weight: 400;
}

.settings__new {
  color: white;
  font-size: 0.3rem;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #e06055;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  animation: rotate-new 2s linear infinite;
}

@keyframes rotate-new {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
